$main_color: #fd1ded;


$primary-main: #fd1ded;
$secondary-main: #fd1ded;
$primary-main-d: #fd1ded;
$secondary-main-d: #fd1ded;

$accent-main: #251c25;
$bg-main: #c9c9c9;
$accent-main-d: #ffd3fc;
$bg-main-d: #463d45;

$temp_timer_block: #4dc7ff;
$temp_sounds_block: #bafd1d;
$temp_tasks_block: #fdb61d;

//PRIMEREACT COLORS
$surface_0: var(--surface-0);
$surface_50: var(--surface-50);
$surface_100: var(--surface-100);
$surface_200: var(--surface-200);
$surface_300: var(--surface-300);
$surface_400: var(--surface-400);
$surface_500: var(--surface-500);
$surface_600: var(--surface-600);
$surface_700: var(--surface-700);
$surface_800: var(--surface-800);
$surface_900: var(--surface-900);
//
$color-surface-ground: var(--surface-ground);
$color-surface-section: var(--surface-section);
$color-surface-card: var(--surface-card);
$color-surface-overlay: var(--surface-overlay);
$color-surface-border: var(--surface-border);
$color-surface-hover: var(--surface-hover);
//txt colors
$color-txt-primary: var(--text-color);
$color-txt-secondary: var(--text-color-secondary);