$main_color: #fd1ded;


$primary-main: #fd1ded;
$secondary-main: #fd1ded;
$primary-main-d: #fd1ded;
$secondary-main-d: #fd1ded;

$accent-main: #251c25;
$bg-main: #c9c9c9;
$accent-main-d: #ffd3fc;
$bg-main-d: #463d45;