.wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 20px;
}

.body {
  position: absolute;
  transform: translate(20px, -80%);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  &.visible {
    transform: translate(60px, -80%);
    opacity: 1;
  }
}

.list {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 12px;
}

.item {
  display: grid;
  grid-template-columns: 1fr min-content;
  column-gap: 8px;
  text-align: end;
}