@use 'styles/helpers' as *;


.btn {
  cursor: pointer;
  background-color: $surface_200;
  color: $surface_0;
  //
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
}