@use 'styles/helpers' as *;

.wrapper {
  @include trans-opacity;
  position: relative;
  // border-radius: 20px;
  padding: 30px 60px 30px 30px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;

  &:hover {
    .title {
      opacity: 1;
    }
  }

  @include d {
    padding: 20px 30px 20px 20px;
  }

  @include t {
    padding: 15px;
  }
}

.close {
  position: absolute;
  right: 8px;
  top: 8px;

  @include t {
    right: 4px;
    top: 4px;
  }
}

.expand {
  position: absolute;
  right: 8px;
  bottom: 8px;

  @include t {
    right: 4px;
    bottom: 4px;
  }
}

.title {
  @include regular2;
  color: var(--text-color-secondary);
  opacity: 0.5;
  display: flex;
  align-items: center;
}