@import 'styles/helpers';

.wrapper {
  padding: 30px 0;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 30px;
}

.tasksStat {
  @include regular1;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
  justify-content: center;
  justify-items: center;
}

.focusedTask {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
  justify-content: center;
  justify-items: center;
}

.empty {
  text-align: center;
}

.taskTitle {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}