@import 'styles/helpers';

.wrapper {
  // border-radius: 20px;
  // padding: 20px;
  // background-color: $temp_tasks_block;
}

.list {
  overflow-y: auto;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: 4px;
}