@import 'styles/helpers';

.wrapper {
  position: relative;
  // border-radius: 20px;
  padding: 30px 60px;
  // background-color: $temp_tasks_block;
}

.list {
  overflow-y: auto;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: 16px;

  padding-bottom: 40px;
}

