@use 'styles/helpers' as *;

.container {
  position: relative;
  padding: 20px;
  min-height: 500px;
  height: calc(100vh - 80px);
  background-color: rgba(#000000, 0.3);

  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 'timer sounds' 'tasks sounds';
  transition: 0.5s ease-out;

  &.timer_tasks{
    // transition: 0.4s;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 0fr;
    grid-template-areas: 'timer tasks';
  }

  &.timer_sounds {
    // transition: 0.4s;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 0fr;
    grid-template-areas: 'timer sounds';
  }

  &.tasks_sounds {
    // transition: 0.4s;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 0fr;
    grid-template-areas: 'tasks sounds';
  }

  &.one {
    display: flex;
  }

  &.empty {
    display: flex;
  }

  @include t {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    justify-items: stretch;
    // justify-items: stretch;
    // align-items: stretch;
  }

}

.timerWrap, .soundsWrap, .tasksWrap {
  &.hidden {
    display: none;
  }
  &.one {
    flex-grow: 1;
  }
}

.timerWrap {
  margin: 10px;
  grid-area: timer;
  min-height: 50%;
  min-height: 300px;
}

.soundsWrap {
  transition: all 0.4s;
  margin: 10px;
  grid-area: sounds;
  min-height: 300px;
}

.tasksWrap {
  margin: 10px;
  grid-area: tasks;
  min-height: 300px;
}

.tempBtn {
  position: absolute;
  top: 0;
  right: 0;
}