@use 'styles/helpers' as *;
.taskItem {
  position: relative;
  background-color: $color-surface-hover;
  border: 1px solid black;
  border-color: $surface_200;

  // min-height: 100px;

  display: grid;
  grid-template-columns: 20px 1fr;
  padding: 0;

  &.focused {
    border: 1px solid $color-primary;
    background-color: $color-surface-c;
  }

  &.completed {
    border: 1px solid black;
    border-color: $color-surface-border;
  }

  &:hover {
    // .removeWrap {
    //   visibility: visible;
    //   opacity: 1;
    //   transition: opacity 0.2s;
    // }

    // .label {
    //   visibility: visible;
    //   opacity: 0.5;
    // }

    // &.completed {
    //   .label {
    //     visibility: hidden;
    //     opacity: 0;
    //   }
    // }
    .focusBtnWrap {
      visibility: visible;
      opacity: 1;
    }
  }

  &.expanded {
    border: 2px solid $color-primary;
  }
}

.main {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 1fr;
  padding: 15px 40px 15px 0;

  @include t {
    padding: 10px 20px 10px 0;
    grid-template-columns: 40px 1fr;
  }
}

.checkWrap, .info {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px min-content;
  row-gap: 8px;

  @include t {
    grid-template-rows: 30px min-content;
    row-gap: 4px;
  }
}

.checkWrap {
  .checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.info {
  justify-content: flex-start;
  justify-items: flex-start;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  border: none;
  border-radius: $border-radius;

  &:hover {
    &::before {
      visibility: visible;
    }
  }

  .description {
    text-align: start;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .title {
    @include title2;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: start;

    @include t {
      @include title3;
    }
  }
}


//TASK IN EDIT MODE
.infoEdit {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 80px 20px;
  row-gap: 8px;
}

.titleEdit {
  input {
    width: 100%;
  }
}

.descrEdit {
  textarea {
    width: 100%;
    height: 100%;
  }
}

.titleEdit {
  display: flex;
}

.info::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  background-color: $color-primary;
  opacity: 0.05;
  visibility: hidden;
}

.removeWrap {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px;
  // visibility: hidden;
  // opacity: 0;
  transition: opacity 0.2s;
}

.focusBtnWrap {
  // visibility: hidden;
  // opacity: 0;
}

.focusBtn {
  cursor: pointer;
  visibility: visible;
  transition: opacity 0.2s;
  //appereance
  border-top-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-txt-secondary;
  opacity: 0.4;

  &:hover {
    color: $color-primary-txt;
    background-color: $color-txt-secondary;
  }

  &.active {
    color: $color-primary-txt;
    visibility: visible;
    opacity: 1;
    background-color: $color-primary;
  }

  &.unavailable {
    visibility: hidden;
    opacity: 0;
  }

  &:disabled {
    opacity: 0;
    visibility: hidden;
  }
}

