@use 'styles/helpers' as *;
.taskItem {
  position: relative;
  background-color: $color-surface-hover;
  border: 1px solid black;
  border-color: $surface_200;

  height: 100px;

  display: grid;
  grid-template-columns: 20px 1fr;
  padding: 0;

  &.expanded {
    background-color: rgb(87, 171, 255);
  }

  // &.focused {
  //   border: 1px solid $color-primary;
  //   background-color: $color-surface-c;
  //   .label {
  //     visibility: visible;
  //     opacity: 1;
  //   }
  // }

  &.completed {
    border: 1px solid black;
    border-color: $color-surface-border;
  }

  &:hover {
    // .removeWrap {
    //   visibility: visible;
    //   opacity: 1;
    //   transition: opacity 0.2s;
    // }

    // .label {
    //   visibility: visible;
    //   opacity: 0.5;
    // }

    // &.completed {
    //   .label {
    //     visibility: hidden;
    //     opacity: 0;
    //   }
    // }
    .focusBtnWrap {
      visibility: visible;
      opacity: 1;
    }
  }
}

.main {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 1fr;
  padding: 15px 40px 15px 0;
}

.checkWrap, .info {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px min-content;
  row-gap: 8px;
}

.checkWrap {
  .checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.info {

}

.removeWrap {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s;
}

.focusBtnWrap {
  visibility: hidden;
  opacity: 0;
}

.focusBtn {
  cursor: pointer;
  // visibility: visible;
  // opacity: 1;
  transition: opacity 0.2s;
  //appereance
  border-top-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-primary-txt;
  background-color: $surface_400;

  &:hover {
    background-color: $surface_500;
  }

  &.active {
    visibility: visible;
    opacity: 1;
    background-color: $color-primary;
  }

  &.unavailable {
    display: none;
  }
}

