@use 'styles/helpers' as *;
.taskItem {
  position: relative;
  background-color: $color-surface-hover;

  display: flex;
  flex-direction: column;

  height: 100px;

  padding: 15px;

  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 20px;

  &.expanded {
    background-color: rgb(87, 171, 255);
  
    border-radius: 5px;
    border: 2px solid rgb(99, 99, 99);
  
    display: flex;
    flex-direction: column;
  }

  &:hover {
    .removeWrap {
      visibility: visible;
      opacity: 1;
      transition: opacity 0.2s;
    }
  }
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
  row-gap: 12px;
}

.removeWrap {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s;
}

