@use 'styles/helpers' as *;

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  min-width: 200px;
}

.controlItem {
  padding: 0 4px;
}

.knobWrap {
  position: relative;

  svg {
    stroke: red !important;
  }
}

.digits {
  @include title2;
  font-weight: 600;
  color: $color-txt-secondary;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}